/* CSS Selector */
body {
    /* CSS Declaration */
    /* CSS Rule property:value;*/
    background-color: rgba(255, 179, 0, 0.549);
    font-family:"Roboto";
}

header {
display:flex;
align-items: center;
justify-content: space-between;
}

.headerLogo {
    /* Longhand */
    border-color: black;
    border-width: 4px;
    border-style: solid;

    /* Shorthand */
    border: black 4px solid;

    padding: 100px;
    margin: 100px;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(0, 251, 255, 0.664);
    

}

.navigationList {
    display: flex;
    gap:10px;
    list-style-type: none;
}