/* CSS Selector */
body {
    /* CSS Declaration */
    /* CSS Rule property:value;*/
    background-color: rgba(0, 0, 0, 0.549);
    font-family:"Roboto";
}

header {
    background-color: rgb(180, 164, 196);
display:flex;
align-items: center;
justify-content: space-between;
}

.headerLogo {
    /* Longhand */
    border-color: black;
    border-width: 4px;
    border-style: solid;

    /* Shorthand */
    border: black 4px solid;

    padding: 10px;
    margin: 20px;
    font-size: 35px;
    font-weight: bold;
    background-color: rgba(0, 208, 255, 0.719);
    

}

.navigationList {
    display: flex;
    gap:10px;
    list-style-type: none;
}